.mlr-exception-row-pre .form-item {
  display: inline-block;
}

.mlr-exception-row {
  padding: 15px 5px;
  margin: 10px 0;
  border: 1px solid silver;
}

.mlr-exception-row .mlr-delete-row {
  margin-left: 5px;
}

.mlr-error {
  color: red;
}
